:root{
    --main-accent:#FED136;
    --project-black:#222222;
    --main-text:#777777;
    --project-white:#FFFFFF;
    --placeholder:#BBBBBB;
}
body{
    font-family:'Montserrat', sans-serif;
    font-weight:400;
    line-height:normal;
    font-style:normal;
    color:var(--main-text);
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
}

.logo{
    font-family:'Bilbo Swash Caps', serif;
    color:var(--main-accent);
    font-size:36px;
    line-height:1.14;
    letter-spacing:1.3px;
}
.nav-list-link{
    color:var(--main-accent);
    font-size: 14px;
    text-transform: uppercase;
    line-height:1.14;
}
.main-title{
    color:var(--project-black);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height:1.87;
    text-align:center;
}
.main-list-title{
    color:var(--project-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 4.17;
    text-align:center;
}
.main-list-text{
    color:var(--main-text);
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    text-align:center;
}
.footer{
    background-color:var(--project-black);
}
.footer-title{
    color:var(--project-white);
    text-align:center;
    font-size: 40px;
    text-transform: uppercase;
}
.form-input{
    width:455px;
    height:50px;
}
.form-input, .form-comment{
    color:var(--placeholder);
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.form-comment{
    width: 458px;
    height: 212px;
    resize:none;
}
.form-btn-submit{
    width:242px;
    height:68px;
    background-color:var(--main-accent);
    color:var(--project-white);
    font-size: 18px;
    font-family: 'Montserrat', solid;
    font-weight: 700;
    text-transform: uppercase;
    border:none;
}
