:root{
    --main-accent:#FED136;
    --project-black:#222222;
    --main-text:#777777;
    --project-white:#FFFFFF;
    --placeholder:#BBBBBB;
}
body{
    font-family:'Montserrat', sans-serif;
    font-weight:400;
    line-height:normal;
    font-style:normal;
    color:var(--main-text);
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
    cursor: pointer;
}
ul, p, a, h4, h2, input, button{
    padding:0;
    margin:0;
}
.container{
    /* Самая большая ширина контейнера + паддинг изнутри 30 px (по 15 пикс с каждой стороны))*/
    width: 972px;
    margin:0 auto;
    padding:0 15px;
    /* outline: 5px solid green; */
}
.header .container{
    padding:35px 15px 86px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:285px;
}
.logo{
    font-family:'Bilbo Swash Caps', serif;
    color:var(--main-accent);
    font-size:36px;
    line-height:1.14;
    letter-spacing:1.3px;
    display: inline-block;
    padding: 0 33px;
}
.nav-list{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    gap:10px;
    align-items:center;
}
.nav-list-link{
    color:var(--main-accent);
    font-size: 14px;
    text-transform: uppercase;
    line-height:1.14; 
    display: inline-block;   
    /* padding: 15px 16px;  */
}
.main .container{
    padding: 0 15px 119px;
}
.main-title{
    color:var(--project-black);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height:1.87;
    text-align:center;
    margin-top:0;
    margin-bottom:87px;
}
.main-list{
    display:flex;
    flex-direction:row;
    gap:56px;
}
.main-list-title{
    color:var(--project-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 4.17;
    text-align:center;
}
.main-list-text{
    color:var(--main-text);
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    text-align:center;
}
.footer{
    background-color:var(--project-black);
}
.footer .container{
    padding-top: 92px;
    padding-bottom: 115px;
}
.footer-title{
    color:var(--project-white);
    text-align:center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 auto 114px;
}
/* .footer-form{
    display:flex;
    column-gap:28px;
} */
.footer-form-box{
    display:flex;
    gap: 28px; 
    height:215px;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
}
.form-input{
    width:455px;
    height:50px;
    padding: 13px 21px 23px;
}
.form-input, .form-comment{
    color:var(--placeholder);
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.form-comment{
    width: 458px;
    height: 212px;
    resize:none;
}
.form-btn-submit{
    width:242px;
    height:68px;
    background-color:var(--main-accent);
    color:var(--project-white);
    font-size: 18px;
    font-family: 'Montserrat', solid;
    font-weight: 700;
    text-transform: uppercase;
    border:none;
    border-radius: 3px;
    padding:18px 33px;
    display:block;
    margin:29px auto 0;
}
